body {
  background: rgb(86, 152, 190);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.deck {
  border: 2px solid black;
  padding: 150px 100px;
  border-radius: 25px;
  background-color: aliceblue;
  margin: 5px;
  transition: transform 1s;
}

.deck:hover {
  transform: scale(1.1);
}

.deck-container {
  display: flex; 
  justify-content: center;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  background: red;
}

.card-container {
  display: flex; 
  justify-content: center;
  flex-direction: row;
  width: 100vw;
  height: auto;
  background: blueviolet;
}

.card {
  border: 2px solid violet;
  width: 335px;
  height: auto;
  padding: 5px;
  border-radius: 25px;  
  background-color: yellow;
  margin: 5px;
  transition: transform 1s;
}

.btn {
  padding: 5px 10px;
  border: 2px solid blue;
  background: skyblue;
  margin-top: 5px;
}

.card:hover {
  transform: scale(1.1);
}